header, footer {
	background-color: #2F312F;
}
header {margin-bottom: 20px;padding-top: 20px;}
header h1 {
	color: #FFF;
    font-family: "estilo-pro", serif; 
}
/*h2, h3, h4, h5, h6, p, ul, ol, li { font-family: "freight-text-pro",serif;}*/
.resume h3 {font-style: italic;}
header h1 a, header h1 a:hover { color: #FFF; }
ul.selectlang li a {
	color: #7DD9C3;
	font-style: italic;
}
.dashwhitebot {
	height: 5px;
	border-top: thin dashed #FFFFFF;
}
/*.lead { font-size: 200%}*/
/*header blockquote {
	float: right;
	font-style: italic;
	font-size: 90%;
	margin-top: 0;
	color: #BABABA;
}*/
ul.contacticon {  margin-top: -20px;}
ul.tabs { border-top: none; border-right: none; border-left:none;}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {color:#FFF;}
.tabs-title { border-top: 1px solid lightgrey; background-color: whitesmoke;}
.tabs-title:first-child {border-left: 1px solid lightgrey;}
.tabs-title:last-child {border-right: 1px solid lightgrey;}
.tabs-title > a {color: #0a0a0a;}
/*.portfolio {background-color: lightgrey; padding: 1.1061946903rem 0;background-image: url(/images/black10.jpg);background-size: cover;}*/
.spacer {margin-bottom: 3rem;}
footer {
	padding-top: 5px;
    font-size: 90%;
}
footer p {
	font-style: italic;
	color: #BABABA;
    padding: 10px 0;
}
img#headpic { margin: 0 20px 0 0;}
.white {color: #FFF;}
.padding20 { padding: 1.5rem;}
.helplist { position: relative;background-color: whitesmoke; }

.helplist:before {     
    left: 12px;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.helplist:before, .helplist:after { 
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 12px;
    width: 48%;
    height: 12px;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.helplist:after {
    right: 12px;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}




/**/